.locations-container {
  padding: 0 16px;
}

.locations-title {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 10px 0;
}

.locations-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: 1fr;
  gap: 1rem;
}
